{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="general-quarters">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's  Quarters</h1>
            <p>
                Your home away from home, set on the majestic waters on the atlantic oceon, this will be a holiday to remember.
                This holiday season, give yourself a holiday you will never forget.” This works well to relax, clear your mind
                or completely setup for a newyear “A Gift for Every Reason and Every Season.”
                Your home away from home, set on the majestic waters on the atlantic oceon, this will be a holiday to remember.
                This holiday season, give yourself a holiday you will never forget.” This works well to relax, clear your mind
                or completely setup for a newyear “A Gift for Every Reason and Every Season.”
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>

{{end}}
{{ define "js" }}
    <script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
    //   notify("This is my message", "error")
    //   notifyModal("title", "<em>Hello, world!</em>", "success", "My button text")
    //  attention.toast({msg: "Hello from Toast", icon: "error"})
    //   attention.error({msg: "Hello with Error", footer: "This is my foot"})
    let html = `
    <form id="check-availability-form" action="" method="post novalidate" class="needs-validation">
        <div class="form-row">
            <div class="col">
                <div class="form-row" id="reservation-dates-modal">
                    <div class="col">
                        <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                    </div>
                    <div class="col">
                        <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                    </div>
                </div>
            </div>
        </div>
    </form>
    `
    attention.custom({msg: html, title: "Choose your dates"})
    })  
    </script>
{{end}}